.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo-container{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo{
  height: 40px;
  background-color: white;
  border-radius: 10px;
}

.container-calculator{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c0ff;
  border-radius: 20px;
  border: 4px solid white;
}

.line {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode{
  animation-name: clear;
  animation-duration: 60s;
}

@keyframes clear {
  
  0%{
    background-color: yellow;
  }

  100%{
    background-color: aquamarine;
  }

}
